<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
           http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.5.xsd">
    <!-- 导入目标类 -->
    <bean id="personService" class="com.zxkj.delegatedemo.dynamicProxy.springAop.PersonServiceImpl"></bean>

    <!-- 增强类 -->
    <bean id="myTransaction" class="com.zxkj.delegatedemo.dynamicProxy.springAop.MyTransaction"></bean>

    <aop:config>
        <aop:pointcut expression="execution(* com.zxkj.delegatedemo.dynamicProxy.springAop.*.*(..))" id="perform"/>

        <aop:aspect ref="myTransaction">
            <aop:before method="beginTransaction" pointcut-ref="perform"/>
        </aop:aspect>
        <aop:aspect ref="myTransaction">
            <aop:after method="commit" pointcut-ref="perform"/>
        </aop:aspect>
    </aop:config>
</beans>